server:
  port: 8090

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} trace_id=%X{trace_id} span_id=%X{span_id} trace_flags=%X{trace_flags} - %msg%n"

spring:
  datasource:
    url: jdbc:postgresql://localhost:5439/sf2
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  flyway:
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
    baseline-on-migrate: true
    enabled: true
#  jpa:
#    hibernate:
#      ddl-auto:
#        update
jwt:
  key: ${JWT_KEY}
  access-token-expiration: 300000  # 5 minutes
  refresh-token-expiration: 604800000 # 1 week

